{{ define "layout" }}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <title>Waybackmachine Downloader</title>
</head>
<body>
    <main class="container">
        <nav>
            <ul>
              <li><strong>Waybackmachine Downloader</strong></li>
            </ul>
            <ul>
              <li><a href="/" role="button">Homepage</a></li>
            </ul>
          </nav>
        {{ block "content" . }}
        {{ end }}
    </main>
</body>
</html>
{{ end }}
